*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d0eaff;
}

.product{
    width: 90%;
    max-width: 750px;
    display: flex;
}

.gallery{
    flex-basis: 47%;
    background: #241e20;
    transform: scale(1.08);
    box-shadow: -10px 5px 10px 10px rgba(0,0,0,0.2);
}

.gallery img{
    width: 100%;
    display: block;
    padding-top: 100px;
}

.details{
    font-size: 13px;
    font-weight: 500;
    color: #777;
    flex-basis: 53%;
    background: #fff;
    padding: 40px;
    padding-left: 60px;
    box-shadow: -10px 5px 10px 10px rgba(0,0,0,0.2);
}

.details h1{
    font-size: 35px;
    color: #333;
}

.details h2{
    font-size: 30px;
    color: #555;
    font-weight: 600;
}

.details h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #00d874;
}   

.details form{
    font-size: 15px;
    font-weight: 400;
}

.size-select{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.size-select p{
    width: 70px;
}

.size-select input:checked +span{
    color: blue;
    font-weight: 600;
}

.size-select input{
    display: none;
}

.size-select span{
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.color-select{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.color-select p{
    width: 75px;

}
.color-select span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}
#red{
    background: red;
}
#blue{
    background: blue;
}
#green{
    background: green;  
}
#yellow{
    background: yellow;
}
#purple{
    background: purple;
}
.color-select input{
    display: none;
}
.color-select input:checked +span{
    transform: scale(0.7);
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px #000;
}